/*resets everything on page to be 0*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*makes it so the body goes down to the bottom of page instead of cutting of at the last element that is nearest the bottom. */
body {
  min-height: 100vh;
}

main {

}
/*removes bullet points from all list items*/
li {
  list-style: none;
}

.section-standard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 85vh;
  padding-left: 12vw;
  padding-right: 12vw;
}

.img-standard {
  
}

.button-standard {
  margin: 1rem;
}

.h1-standard {
  margin: 1rem;
  font-size: 3.5em;
}

.h2-standard {
  font-size: 3em;
}

.h3-standard {
  margin: 1rem;
  font-size: 2.5em;
}

.p-standard {
  margin: 1rem;
  font-size: 2em;
}

.ul_grid-standard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.aron_corestav-navbar {
  width: 50vw; 
  display: flex;
  justify-content: center;
}

.buttons-navbar {
  width: 50vw; 
  display: flex;
  justify-content: space-evenly;
}

.titleSection {
  background-color: #c0c0c0;
}
/* change sizing for better system maybe */

.p-titlesection {
  margin: 1rem;
  font-size: 1.5em;
}

.button-titleSection {
  align-self: flex-start;
}

/* find out how to use flexbox better */

.myWorkSection { 
  background-color: #744343;
  align-items: center;
}

.h2-myWorkSection {
  text-align: center;
}

.button-myWorkSection {
  width: 10em;
  min-height: 7em;
}

.brandSection {
  background-color: aqua;
}

.h2-brandSection {
  text-align: center;
}

.commentSection {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
}

.person-commentSection {

}

.textbox-commentSection {
  border: 10px solid #000000;
}

.img-commentSection {
  object-fit: cover;
}

.div1-commentSection {
  display: flex;
  
}

.div2-commentSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactSection {
  display: flex;
  background-color: darkgrey;
  padding-left: calc(12vw + 2vw);
  padding-right: calc(12vw + 2vw);
  gap: 1.5rem;
}

.form-contactSection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5rem;
}

.input-contactSection {
  padding: 5px;
}

.button-contactSection {
  align-self: flex-start;
}

footer {
  background-color: #616161;
  color: azure;
}

.ul-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.li-footer {
  display: flex;
  flex-direction: column;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
}