/*resets everything on page to be 0*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*makes it so the body goes down to the bottom of page instead of cutting of at the last element that is nearest the bottom. */
body {
  min-height: 100vh;
  font-size: 62.5%;
  font-family: Helvetica, sans-serif
}

input, button, select, option, textarea {
  font-size: 100%;
}

main {

}
/*removes bullet points from all list items*/
li {
  list-style: none;
}

.section-standard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*min-height: 50rem;*/
}

.img-standard {
  
}

.button-standard {
  margin: 1em;
  padding-top: 0.9em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1.6em;
  border-radius: 25rem;
  background-color: #e6e3e3;
  text-decoration: None;
  border: 2px solid;
  border-color: #000000;
  color: #000000;
}

.button-standard:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.h1-standard {
  font-size: 8em;
  text-decoration: none; 
}

.h2-standard {
  font-size: 4.5em;
  text-decoration: none;
}

.h3-standard {
  font-size: 2.5em;
  text-decoration: none;
}

.h4-standard {
  font-size: 2em;
  text-decoration: none;
}

.h6-standard {
  font-size: 1.8em;
  text-decoration: none;
}

.p-standard {
  font-size: 1.6em;
  text-decoration: none;
}

header {
  background-color: #47474710;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  z-index: 2;
}

#navbar-js {
  transition: background-color 0.5s, backdrop-filter 0.3s;
}

.div-navbar {
  position: fixed;
  z-index: 2;
}

.ul-navbar {
  display: flex;
  flex-direction: row;
  width: 60rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  justify-content: space-evenly;
  align-items: center;
}

.a-navbar {
  color: #e6e3e3;
}

.a-navbar-active {
  color: #00008b;
}

.a-navbar:hover {
  color: rgb(231, 231, 231);
}

.li-navbar {
  padding: 0.5rem;
}

.aron_corestav-navbar {
  margin-right: auto;
}

.social_media-navbar {
  margin-left: auto;
}
.buttons-navbar {
  width: 40rem;
  display: flex;
  justify-content: space-evenly;
}

/* Home: */
.titleSection {
  min-height: 50rem;
  background-color: #837dcc;
  flex-direction: row;
  background-image: url(images/background_image.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: relative;
  overflow: hidden;
}

/* learn how this works */
.titleSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
}

.div-titleSection {
  z-index: 5;
  position: relative;
  width: 70rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin: 5rem;
}
/* change sizing for better system maybe */

.h1-titlesection {
  text-align: center;
  color: #e6e3e3;
}

.p-titlesection {
  text-align: center;
  font-size: 2em;
  color: #e6e3e3;
}

.button-titleSection {
  
}

.myWorkSection { 
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 50rem;
}

.gradient_background-myWorkSection_brandSection {
  background-image: linear-gradient(#aed8e9 0%,  #2837C6 100%); 
}

.div-myWorkSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul-myWorkSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-div-myWorkSection {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 30rem;
  border-radius: 1rem;
  max-height: 50rem;
}

.project-div-img-myWorkSection {
  display: flex;
  justify-content: bottom;
}

.project-img-myWorkSection {
  background-color: #00008b;
  margin: 1em;
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  object-position: bottom;
  overflow: hidden;
  height: auto;
  width: auto;
  padding: 0.7rem;
  padding-bottom: 0;
  border-radius: 1rem;
}

.project-div-text-myWorkSection {
  
}

.project-text-div-myWorkSection {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
}

.project-text-div-h3-myWorkSection {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-bottom: 0.7rem;
}

.project-text-div-p-myWorkSection {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 1.2rem;
}

.project-button-myWorkSection {
  min-width: 100%;
  height: 5em;
  background-color: #dadada;
  border: none;
  font-size: 1.6em;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.project-button-myWorkSection:hover {
  background-color: #bdbdbd;
}

.h2-myWorkSection {
  text-align: center;
  margin: 1rem;
  margin-bottom: 0;
}

.button-myWorkSection {
  width: 15em;
  min-height: 10em;
}

.see_more-button-myWorkSection {
  margin-top: 0;
}

.brandSection {
  flex-direction: row;
  min-height: 40rem;
}

.ul-brandSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.li-brandSection {
  max-width: 100%;
  max-height: 100%;
}

.logo-brandSection {
  width: 20rem;
}

.div-brandSection {
  display: flex;
  max-width: 75rem;
  justify-content: center;
  flex-direction: column;
}

.h2-brandSection {
  text-align: center;
  margin: 1rem;
}

.commentSection {
  background-color: rgb(177, 177, 177);
  display: flex;
  height: 50rem;
  flex-direction: row;
  align-items: center;
}

.div-commentSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75rem;
}

.person-commentSection {

}

.textbox-commentSection {
  border: 10px solid #000000;
}

.img-commentSection {
  object-fit: cover;
}

.div1-commentSection {
  display: flex;
  flex-direction: row;

}

.div2-commentSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactSection {
  display: flex;
  background-color: darkgrey;
  flex-direction: row;
  align-items: center;
  min-height: 50rem;
}

#id-contactSection {
  
}

.div-contactSection {
  display: flex;
  flex-direction: column;
  width: 75rem;
  margin: 3rem;
}

.form-contactSection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5rem;
  
}

.input-contactSection {
  padding: 5px;
  resize: none;
  border-radius: 1rem;
}

.button-contactSection {
  align-self: flex-start;
}

footer {
  background-color: #616161;
  color: #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div-footer {
  display: flex;
  flex-direction: column;
  width: 75rem;
  margin: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.ul-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.li-footer {
  display: flex;
  flex-direction: column;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #e0e0e0;
  padding-top: 0.5rem;
}

/* The Future: */
.div_theFuture {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main_theFuture {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 70rem;
}

.headerSection_theFuture {
  background-color: beige;
}

.div-headerSection_theFuture {
  align-self: center;
}

.p-headerSection_theFuture {
  margin: 1rem;
  font-size: 1.2em; 
}